[push]
  default = upstream
[user]
  name = Guilherme Pontes
  email = guilhermepontes@msn.com
[alias]
  st = status
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  aa = add .
  who = shortlog -sn
[mergetool "sublime"]
  cmd = subl -w $MERGED
  trustExitCode = false
[merge]
      tool = vimdiff
[diff]
  tool = vimdiff
[color]
  ui = auto
