[user]
  name = Guilherme Pontes
  email = guilhermepontes@msn.com
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[merge]
  tool = vimdiff
[diff]
  tool = vimdiff
[color]
  ui = auto
