function kd(){
  find . | egrep '$1$' | xargs egrep --color -i '$2'
}

function work(){
  cd ~/workspace/$1
}

function colormmit(){
  git commit -m "$*"
}

function push(){
  git push $1
}

function pull(){
  git pull
}

function ammend(){
  git commit --amend -m "$*"
}

function  clone(){
  git clone $1
}

function tnew(){
  tmux new -s $1
}

function add(){
  git add $1
}

function release(){
  git tag -a $1 -m "Release $1" && git push --tags
}

function check(){
  git checkout $*
}

alias via="vi app/"
alias schumi="cd ~/workspace/schumi"
alias editbash="vi ~/.bashrc"
alias bashedit="vi ~/.bashrc"
alias c=commit
alias st="git st"
alias who="git who"
alias dife="git diff"
alias p=push
alias aa="git add ."
alias ca="aa && c"
alias l="git lg"
alias lock="gnome-screensaver-command -l"
alias documents='cd ~/Documents'
alias downloads='cd ~/Downloads'
alias desktop='cd ~/Desktop'
alias music='cd ~/Music'
alias ..='cd ..'
alias lg='git lg'
alias ...='cd ../..'
alias ....='cd ../../..'
alias shutdown='sudo shutdown –h now'
alias restart='sudo shutdown –r now'
alias s="sudo"
alias q="exit"
alias vagrantup="work vagrant_box && vagrant up"
alias mongofix="sudo mongod --fork --logpath /var/log/mongodb.log --logappend"
alias hint='.npm/jshint/2.1.10/package/bin/jshint'
alias gitclean="git clean -fd"
alias startsolr="sudo service tomcat7 start"
alias branches="git for-each-ref --sort=-committerdate refs/heads/ --format=' • %1B[0;32m %(committerdate:relative)%1B[m-— %1B[1;30m%(refname)%1B[m' | sed 's/refs\/heads\///g' | column -t -s '-'"
