function work(){
  cd ~/workspace/$1
}

function commit(){
  git commit -m "$1"
}

function push(){
  git push $*
}

function pull(){
  git pull $*
}

function amend(){
  git commit --amend -m "$*"
}

function clone(){
  git clone $*
}

function tnew(){
  tmux new -s $1
}

function go(){
  cd ~/workspace/$1
}

function add(){
  git add $*
}

function release(){
  git tag -a $1 -m "Release $1" && git push --tags
}

function sobeviado(){
  vagrant destroy --force; vagrant box update; vagrant up && vagrant ssh
}

function check(){
  git checkout $*
}

function chrome(){
  open -a "Google Chrome" $1
}
